* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header styling */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-bottom: 2px solid #ccc;
    height: 50px;
  }
 
/* Navigation styling */
  .nav {
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 14px;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #ddd;
    color: #000;
  }


  /* Contenedor principal */ 
  #filter-container {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Estilo para el contenedor de filtro */
#filter-container label {
  font-weight: bold;
  color: #2f8b56; /* Verde */
}

#filter-container input {
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  border: 1px solid #ddd;
}

#filter-container .calendarButton {
  background-color: #2f8b56;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

#filter-container .calendarButton:hover {
  background-color: #267a4c;
}

/* Estilo para la sección de balance */
.balance-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.balance-container h2 {
  text-align: center;
  color: #2f8b56; /* Verde resaltado para el título */
}

.balance-list {
  margin-top: 20px;
}

.balance {
  padding: 15px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: #eaf5e3; /* Fondo verde claro */
  border: 1px solid #d0e7d3;
}

.balance h4 {
  margin: 0;
  color: #2f8b56;
}

.balance p {
  margin: 5px 0;
  color: #555;
}

.balance-efectivo {
  background-color: #e1f7e1;
}

.balance-multipago {
  background-color: #d5f8d5;
}

.balance-tarjeta {
  background-color: #d0f0d0;
}

.balance-transferencia {
  background-color: #c5e7c5;
}
