/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor principal */
.main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* --------------------------------------------------------------------*/
/*filtrado rapido */

.filter-section {
  border: 1px solid #ddd;
  width: 130px; 
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: -10px
}

.filter-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.filter-section form label {
  display: block;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;

}

.filter-section input[type="checkbox"] {
  margin-right: 10px;
}

.filter-section label:last-child {
  margin-bottom: 0;
}

.products-container{
  border-radius: 0px;
}

/* --------------------------------------------------------------------*/
/* Contenedor de los productos */
.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; 
  width: 100%;
  max-width: 600px; 
  
}

/* Estilos para cada bloque de producto */
.product-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative; 
}

.product-item:hover {
  transform: translateY(-5px);
}

/* Estilos de la imagen del producto */
.product-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

/* Estilos para el nombre y precio del producto */
.product-item h3 {
  font-size: 18px;
  margin: 10px 0;
}
.product-item .type {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.product-item .price {
  font-size: 16px;
  color: #777;
  font-weight: bold;
}

/* Estilos para el botón "+" */
.product-item .add-to-cart {
  background-color: red;
  color: white;
  border: 2px solid black; 
  padding: 10px;
  font-size: 20px;
  border-radius: 4px; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; 
  position: absolute; 
  bottom: 10px; 
  right: 10px; /
}

.product-item .add-to-cart:hover {
  background-color: darkred;
  transform: scale(1.1); 
}


/* Barra lateral para los productos */
.products-sidebar {
  display: flex;
  flex-direction: column;
  max-height: 500px; 
  overflow-y: auto;
}

.products-list {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px;
}

/* --------------------------------------------------------------------*/
/* Contenedor de productos seleccionados */
.selected-products-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
 /* opacity: 1;
  transition: opacity 0.3s ease-in-out; /* Aplicar una transición suave de opacidad */
}

 /*.selected-products-container.hidden {
    opacity: 0;
   }
*/
.selected-products-sidebar {
  max-height: 400px;
  overflow-y: auto;
}

/* Estilos generales para la tabla */
.selected-products-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.selected-products-table th, .selected-products-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.selected-products-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* Estilo para los inputs (cantidad y descuento) */
.quantity-input, .discount-input {
  width: 50px; 
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
}

.quantity-input {
  max-width: 70px;
}

.discount-input {
  max-width: 60px; 
}

/* Estilo para la celda total */
.total-cell {
  font-weight: bold;
  color: #333;
}

/* Estilo para el botón de eliminar */
.delete-product {
  background-color: #e74c3c; 
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-product:hover {
  background-color: #c0392b; 
}

/* Estilo para el contenedor de la tabla */
.table-container {
  max-width: 100%;
  overflow-x: auto;
}

/* Estilo para las filas cuando el contenido es demasiado largo */
.selected-products-table td {
  word-wrap: break-word;
  max-width: 150px;
}

/* Botón de eliminar */
button.delete-product {
  background-color: #e74c3c; 
  color: #fff;
  font-weight: bold;
}

button.delete-product:hover {
  background-color: #c0392b; 
  transform: scale(1.05); 
}

button.delete-product:active {
  background-color: #a93226; 
  transform: scale(1); 
}

/* Ajustar el ancho dentro de la tabla */
.selected-products-table button.delete-product {
  width: 100px; 
  text-align: center;
}

/* Línea separadora */
.separator {
  border: 0;
  border-top: 2px solid #ddd;
  margin: 20px 0;
}

/* --------------------------------------------------------------------*/
/* Contenedor de pago */
.payment-container {
  display: flex;
  width: 100%;
  border: 0px solid #ccc;
  box-sizing: border-box;
  padding: 0px;
  gap: 10px;
  height: 100%;
}

/* Contenedor izquierdo (navegación) */
.payment-left {
  flex: 1; /* Ocupa un tercio del espacio */
  background-color: #f7f7f7;
  min-height: 100px;
  border-right: 1px solid #ddd;
}

/* Contenedor derecho */
.payment-right {
  flex: 2; /* Ocupa dos tercios del espacio */
  display: flex;
  justify-content: space-between; /* Separa las dos secciones */
  padding: 10px;
  gap: 20px;
}

/* Izquierda del contenedor derecho */
.amount-and-change {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  flex: 1;
}

.amount-container input {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.change-container {
  font-size: 1.2em;
  font-weight: bold;
}

/* Derecha del contenedor derecho */
.total-and-payment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  flex: 1;
}

.payment-options {
  display: flex;
  gap: 20px;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #45a049;
}


/* Animación para las filas de la tabla */
tr {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

tr.adding {
  opacity: 0;
  transform: translateY(-10px); /* Se mueve un poco hacia arriba para simular una entrada */
}

tr.added {
  opacity: 1;
  transform: translateY(0); /* Restablece a la posición original */
}

.multipago-container {
  display: none;
}

/* General para el modal */
#confirmation-modal {
  display: none; /* Oculto inicialmente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

/* Contenido del modal */
#confirmation-modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

/* Estilos de botones */
#confirmation-modal .confirm-button,
#confirmation-modal .cancel-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirmation-modal .confirm-button {
  background: #4caf50;
  color: #fff;
  transition: background-color 0.3s;
}

#confirmation-modal .confirm-button:hover {
  background: #45a049;
}

#confirmation-modal .cancel-button {
  background: #f44336;
  color: #fff;
  transition: background-color 0.3s;
}

#confirmation-modal .cancel-button:hover {
  background: #e41f1f;
}


/* General para la alerta de exito */
#success-modal {
  display: none; /* Oculto inicialmente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

/* Contenido del modal */
#success-modal .modal-success-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

/* Estilos de botones */
#success-modal .close-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#success-modal .close-button {
  background: #4caf50;
  color: #fff;
  transition: background-color 0.3s;
}

#success-modal .close-button:hover {
  background: #45a049;
}

/* General para la alerta de exito al sincronizar con firebase*/
#success-sync {
  display: none; /* Oculto inicialmente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

/* Contenido del modal */
#success-sync .sync-success-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

/* Estilos de botones */
#success-sync .close-sync {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#success-sync .close-sync {
  background: #0cebd8;
  color: #fff;
  transition: background-color 0.3s;
}

#success-sync .close-sync:hover {
  background: #35adb6;
}

/* General para la alerta de error */

#error-sync {
  display: none; /* Oculto inicialmente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

/* Contenido del modal */
#error-sync .sync-error-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

/* Estilos de botones */
#error-sync .close-error-sync {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#error-sync .close-error-sync {
  background: #e61515;
  color: #fff;
  transition: background-color 0.3s;
}

#error-sync .close-error-sync:hover {
  background: #df436a;
}

.validation-message-input {
  display: none;
  color: red;
  font-size: 14px;
}

.validation-message-value {
  display: none;
  color: red;
  font-size: 14px;
}

.validation-message-total { 
  display: none;
  color: red;
  font-size: 14px;
}


/* General para la alerta de exito */
#success-add-modal {
  display: none; /* Oculto inicialmente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

/* Contenido del modal */
#success-add-modal .modal-add-success-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

/* Estilos de botones */
#success-add-modal .close-add-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#success-add-modal .close-add-button {
  background: #4caf50;
  color: #fff;
  transition: background-color 0.3s;
}

#success-add-modal .close-add-button:hover {
  background: #45a049;
}

/* --------------------------------------------------------------------*/

/* Contenedor de navegación */
.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 220px;
  margin: auto;
}

/* Contenedor de navegación */
.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 220px;
  margin: auto;
}

/* Estilo de los botones */
.navigation button {
  display: flex; 
  align-items: center;
  justify-content: flex-start; 
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  padding: 10px; 
  font-size: 16px;
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
  text-align: left; 
}

.navigation button:hover {
  background-color: #45a049; 
}

/* Espaciado entre emoji y texto */
.navigation button .nav-link {
  margin-left: 8px; 
  text-decoration: none;
  color: inherit; 
}


/* Fondo del modal */
#add-product-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Contenido del formulario */
.modal-form-content {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Ocultar el modal por defecto */
#add-product-modal {
  display: none;
}

#close-form-modal {
  position: relative;
  gap: 10px;
  background-color: #f44336; /* Rojo */
  cursor: pointer;

}

